.reservationPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85vw;
}

.reservationList {
  width: 80%;
}

.reservation {
  display: flex;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.reservationImg {
  height: 100%;
  max-width: 300px;
}

.reservationDesc {
  width: 35%;
  font-size: 14px;
}

.reservationDetails {

}

.reservationDetails p{
  margin: 0;
}

.cancel_reservation {
  border: none;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-size: 16px;
  padding: 1px 16px 3px 16px;
  box-shadow: 2px 2px 2px grey;
}